$pink-000: #f77ef1;
$pink-100: #f967f1;
$pink-200: #e94ee1;
$pink-300: #dd2cd4;
$grey-md-000: #f5f6fa;
$grey-md-100: #eeebee;
$grey-md-200: #ecebed;
$grey-md-300: #44434d;
$metw-000: #f49e86;
$metw-100: #f49e86;
$metw-200: #44434d;
$metw-300: #44434d;
$meul-000: #f49e86;
$meul-100: #f49e86;
$meul-200: #1254c2;
$meul-300: #1254c2;
$metd-000: #962327;
$metd-100: #962327;
$metd-200: #ffd700;
$metd-300: #ffd700;
$medm-000: #5d2396;
$medm-100: #5d2396;
$medm-200: #ffd700;
$medm-300: #ffd700;
$mele-000: #1e2b84;
$mele-100: #1e2b84;
$mele-200: #5d2396;
$mele-300: #5d2396;
$meas-000: #1d4718;
$meas-100: #1d4718;
$meas-200: #ffd700;
$meas-300: #ffd700;
$mewh-000: #43a38f;
$mewh-100: #43a38f;
$mewh-200: #7e685d;
$mewh-300: #7e685d;
$mech-000: #b3b6b7;
$mech-100: #b3b6b7;
$mech-200: #8e9294;
$mech-300: #8e9294;
$meba-000: #84665c;
$meba-100: #84665c;
$meba-200: #d74431;
$meba-300: #d74431;
$hero-resource-000: #edb09f;
$hero-resource-100: #edb09f;
$hero-resource-200: #44434d;
$hero-resource-300: #44434d;
$hero-resource-title-000: #e58e76;
$hero-resource-title-100: #e58e76;
$hero-resource-title-200: #e58e76;
$hero-resource-title-300: #e58e76;
$hero-resource-text-000: #f0ead5;
$hero-resource-text-100: #f0ead5;
$hero-resource-text-200: #f0ead5;
$hero-resource-text-300: #f0ead5;

.card-name {
  font-weight: 200;
  font-variant: small-caps;
  text-shadow: 1px 1px 1px #000;
}

.contact-form {
  input[type="text"],
  input[type="email"],
  textarea {
    width: 49%;
    padding: 1em 1.5em;
    border: 1px solid #959396;
    border-radius: 5px;
    margin-bottom: 1em;
    font-family: timesnewroman, "Times New Roman", times, baskerville, georgia,
      serif;
  }

  textarea {
    width: 100%;
    resize: none;
  }
}

.scroll {
  list-style: none;
}

// Print-only styles.
@media print {
  .side-bar,
  .page-header {
    display: none;
  }

  .main-content {
    max-width: auto;
    margin: 1em;
  }

  h1 {
    page-break-inside: avoid;
  }

  h1::after {
    content: "";
    display: block;
    height: 100px;
    margin-bottom: -100px;
  }

  h2 {
    page-break-inside: avoid;
  }

  h2::after {
    content: "";
    display: block;
    height: 100px;
    margin-bottom: -100px;
  }

  h3 {
    page-break-inside: avoid;
  }

  h3::after {
    content: "";
    display: block;
    height: 100px;
    margin-bottom: -100px;
  }

  h4 {
    page-break-inside: avoid;
  }

  h4::after {
    content: "";
    display: block;
    height: 100px;
    margin-bottom: -100px;
  }
  
  .note {
    page-break-inside: avoid;
  }
  
  .note::after {
    content: "";
    display: block;
    height: 50px;
    margin-bottom: -50px;
  }
}
