$pink-000: #f77ef1;
$pink-100: #f967f1;
$pink-200: #e94ee1;
$pink-300: #dd2cd4;
$grey-md-000: #f5f6fa;
$grey-md-100: #eeebee;
$grey-md-200: #ecebed;
$grey-md-300: #44434d;
$metw-000: #f49e86;
$metw-100: #f49e86;
$metw-200: #44434d;
$metw-300: #44434d;
$meul-000: #f49e86;
$meul-100: #f49e86;
$meul-200: #1254c2;
$meul-300: #1254c2;
$metd-000: #962327;
$metd-100: #962327;
$metd-200: #ffd700;
$metd-300: #ffd700;
$medm-000: #5d2396;
$medm-100: #5d2396;
$medm-200: #ffd700;
$medm-300: #ffd700;
$mele-000: #1e2b84;
$mele-100: #1e2b84;
$mele-200: #5d2396;
$mele-300: #5d2396;
$meas-000: #1d4718;
$meas-100: #1d4718;
$meas-200: #ffd700;
$meas-300: #ffd700;
$mewh-000: #43a38f;
$mewh-100: #43a38f;
$mewh-200: #7e685d;
$mewh-300: #7e685d;
$mech-000: #b3b6b7;
$mech-100: #b3b6b7;
$mech-200: #8e9294;
$mech-300: #8e9294;
$meba-000: #84665c;
$meba-100: #84665c;
$meba-200: #d74431;
$meba-300: #d74431;
$hero-resource-000: #d08a73;
$hero-resource-100: #d08a73;
$hero-resource-200: #444;
$hero-resource-300: #444;
$hero-resource-title-000: #cf9f91;
$hero-resource-title-100: #cf9f91;
$hero-resource-title-200: #cf9f91;
$hero-resource-title-300: #cf9f91;
$hero-resource-text-000: #e9e1c8;
$hero-resource-text-100: #e9e1c8;
$hero-resource-text-200: #e9e1c8;
$hero-resource-text-300: #e9e1c8;
$hazard-000: #5a6064;
$hazard-100: #5a6064;
$hazard-200: #444;
$hazard-300: #444;
$hazard-title-000: #6a6a6a;
$hazard-title-100: #6a6a6a;
$hazard-title-200: #6a6a6a;
$hazard-title-300: #6a6a6a;
$hazard-text-000: #aeaeae;
$hazard-text-100: #aeaeae;
$hazard-text-200: #aeaeae;
$hazard-text-300: #aeaeae;
$character-000: #dce6ee;
$character-100: #dce6ee;
$character-200: #444;
$character-300: #444;
$character-title-000: #eaf0f5;
$character-title-100: #eaf0f5;
$character-title-200: #eaf0f5;
$character-title-300: #eaf0f5;
$character-text-000: #eaf0f5;
$character-text-100: #eaf0f5;
$character-text-200: #eaf0f5;
$character-text-300: #eaf0f5;
$character-shield-000: #bcc5cc;
$character-shield-100: #bcc5cc;
$character-shield-200: #bcc5cc;
$character-shield-300: #bcc5cc;
$hero-site-000: #cfccb9;
$hero-site-100: #cfccb9;
$hero-site-200: #444;
$hero-site-300: #444;
$hero-site-text-000: #f3efe6;
$hero-site-text-100: #f3efe6;
$hero-site-text-200: #f3efe6;
$hero-site-text-300: #f3efe6;

.card-name {
  font-weight: 200;
  font-variant: small-caps;
  color: white;
  text-shadow: 1px 1px 1px #000;
  text-align: center;
  @include fs-6;
}

.character-card-name {
  font-weight: 200;
  font-variant: small-caps;
  color: $body-text-color;
  text-align: center;
  @include fs-6;
}

.card-mp {
  float: left;
  color: $body-text-color;
  @include fs-6;
}

.hazard-mp {
  float: left;
  color: white;
  @include fs-6;
}

.card-classification {
  font-weight: 200;
  font-variant: small-caps;
  color: white;
  text-shadow: 1px 1px 1px #000;
  text-align: right;
}

.hazard-classification {
  font-weight: 200;
  font-variant: small-caps;
  color: white;
  text-shadow: 1px 1px 1px #000;
  text-align: right;
}

.character-card-classification {
  font-weight: 200;
  font-variant: small-caps;
  color: $body-text-color;
  text-align: right;
}

.card-shield {
  float: left;
  color: white;
  @include fs-5;
}

.card-set {
  font-weight: bold;
  font-style: italic;
  text-align: center;
  @include fs-2;
}

.card-corruption {
  text-align: right;
  @include fs-5;
}

.card-corruption-float {
  float: right;
  @include fs-5;
}

.hero-site-draw {
  float: left;
  @include fs-5;
}

.hero-you-draw {
  color: $body-text-color;
  background-color: #f3efe6;
}

.hero-opp-draw {
  color: white;
  background-color: $body-text-color;
}

.float-right {
  width: 50%;
  float: right;
}

.contact-form {
  input[type="text"],
  input[type="email"],
  textarea {
    width: 49%;
    padding: 1em 1.5em;
    border: 1px solid #959396;
    border-radius: 5px;
    margin-bottom: 1em;
    font-family: timesnewroman, "Times New Roman", times, baskerville, georgia,
      serif;
  }

  textarea {
    width: 99%;
    resize: none;
  }
}

.scroll {
  list-style: none;
}

// Print-only styles.
@media print {
  .side-bar,
  .page-header {
    display: none;
  }

  .main-content {
    max-width: auto;
    margin: 1em;
  }

  h1 {
    page-break-inside: avoid;
  }

  h1::after {
    content: "";
    display: block;
    height: 100px;
    margin-bottom: -100px;
  }

  h2 {
    page-break-inside: avoid;
  }

  h2::after {
    content: "";
    display: block;
    height: 100px;
    margin-bottom: -100px;
  }

  h3 {
    page-break-inside: avoid;
  }

  h3::after {
    content: "";
    display: block;
    height: 100px;
    margin-bottom: -100px;
  }

  h4 {
    page-break-inside: avoid;
  }

  h4::after {
    content: "";
    display: block;
    height: 100px;
    margin-bottom: -100px;
  }
  
  .note {
    page-break-inside: avoid;
  }
  
  .note::after {
    content: "";
    display: block;
    height: 50px;
    margin-bottom: -50px;
  }
}
