$pink-000: #f77ef1;
$pink-100: #f967f1;
$pink-200: #e94ee1;
$pink-300: #dd2cd4;
$hero-000: #dfad9a;
$hero-100: #dfad9a;
$hero-200: #cca292;
$hero-300: #8a685f;
$minion-000: #78667c;
$minion-100: #626578;
$minion-200: #5a5b6c;
$minion-300: #59465c;
$fallen-000: #6e988e;
$fallen-100: #6e988e;
$fallen-200: #6d9286;
$fallen-300: #60614f;
$balrog-000: #e05933;
$balrog-100: #e44128;
$balrog-200: #816b59;
$balrog-300: #523b2d;
